.overlay {
    width: 0%;
    height: 100%;
    background-color: rgba(3,127,255,.2);
    position: absolute;
}

.listItem:hover .overlay {
    width: 100%;
    transition: .5s;
}

.listItem:hover .listItemText{
    color: #007bff !important;
    transition: all .4s ease-out;
}

.line1{
    width: 1px;
    left: 20%;
    min-height: 100%;
    background-color: rgba(46,52,78,.3);
    position: absolute;
    z-index: -10;
}

.line2{
    width: 1px;
    left: 40%;
    min-height: 100%;
    background-color: rgba(46,52,78,.3);
    position: absolute;
    z-index: -10;
}

.line3{
    width: 1px;
    left: 60%;
    min-height: 100%;
    background-color: rgba(46,52,78,.3);
    position: absolute;
    z-index: -10;
}

.line4{
    width: 1px;
    left: 80%;
    min-height: 100%;
    background-color: rgba(46,52,78,.3);
    position: absolute;
    z-index: -10;

}
