.portfolioImage::before{
    content: "";
    position: absolute;
    left: 15px;
    top: 15px;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    background: hsla(0,0%,100%,.9);
    transition: all .4s ease-out;
    transform: scaleX(0);
    transform-origin: 0;
}

.portfolioImage{
    display: block;
    position: relative;
} 

.portfolioImage:hover::before{
    transform: scaleX(1);
}